<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.practice.testmybatis.mapper.UserUpdateMapper">
    <update id="updateByIDMapper" parameterType="user">
        update user t
        set t.name = #{name}, t.pswd = #{pswd}
        where t.iduser = #{iduser}
    </update>
</mapper>
