<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.practice.testmybatis.mapper.UserDelMapper">
    <update id="delByIDMapper" >
        update user t
        set t.isdel = 1
        where t.iduser = #{ID};
    </update>
</mapper>
